:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-primary: #623528;
  --color-secondary: #956643;
  --color-background: #343434;
  --color-text: #D9A883;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

